<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					{{title}}
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<city-list [cityList]="cityList" [selectedCity]="selectedCity"(cityChange)="selectedCityChange($event)"></city-list>
		</div>
		<div class="col-md-6">
            <city-detail [city]="selectedCity"></city-detail>
			<country-detail [country]="selectedCityCountry" [capitalCity]="selectedCityCountryCapital"></country-detail> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			A Rich Davis Joint
		</div>
	</div>
</div>
