<div *ngIf="country" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
           {{country.name}} details
        </h3>
    </div>
    <div class="panel-body">
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCellLabel">Name:</div><div class="rTableCellData">{{country.name}}</div>
                <div class="rTableCellLabel">Capital:</div><div *ngIf="capitalCity" class="rTableCell">{{capitalCity.name}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCellLabel">Head of State:</div><div class="rTableCellData">{{country.headOfState}}</div>
                <div class="rTableCellLabel">Government Form:</div><div class="rTableCellData">{{country.governmentForm}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCellLabel">Independence Year:</div><div class="rTableCellData">{{country.indepYear}}</div>
                <div class="rTableCellLabel">Life Expectancy:</div><div class="rTableCellData">{{country.lifeExpectancy}} Years</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCellLabel">Region:</div><div class="rTableCellData">{{country.region}}</div>
                <div class="rTableCellLabel">Continent:</div><div class="rTableCellData">{{country.continent}}</div>
            </div>
            <div class="rTableRow">
                <div class="rTableCellLabel">Surface Area:</div><div class="rTableCellData">{{country.surfaceArea | number}} Km<sup>2</sup></div>
                <div class="rTableCellLabel">Population</div><div class="rTableCellData">{{country.population | number}}</div>
            </div>
         </div>
    </div>
    <div class="panel-footer">
        
    </div>
</div>
