<div *ngIf="cityList" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            City List
            <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
            <div class="rightaligned"><label>Delay:</label><input ng-pattern="\d*" [(ngModel)]="delayInSecs" placeholder="delay"/></div>
        </h3>
        
    </div>
    <div class="panel-body">
        <ul class="cities">
            <li *ngFor = "let city of cityList.cities" (click)="onSelect(city)"
             [class.selected]="getStyleForSelection(city)">
                <span class="badge">{{city.id}}</span> {{city.name}}
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <button [disabled]="isFirstPage()" (click)="getFirstCities()">First Page</button>
        <button [disabled]="isFirstPage()" (click)="getPrevCities()">Previous</button>
        <button [disabled]="isLastPage()" (click)="getNextCities()">Next</button>
        <button [disabled]="isLastPage()" (click)="getLastCities()">Last</button>
    </div>
</div>